.section{
    display: flex;
    flex-direction: column;
}
.section > * {
    
}
.section__item{
    margin-top: 30px;
    display: flex;
}
.section__title{
    text-align: center;
}
.section__content{
    text-align: justify;
}